{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<main role="main">
<div class="container text-center">
    <form class="form-signin" action="{{ url_for( 'auth.login' , next=request.args.get('next')) }}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Sign into your account</h1>
        <label for="Username" class="sr-only">Username</label>
        <input type="login" id="login" name="login" class="form-control" placeholder="Username or Email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label><input type="checkbox" name="remember_me" value="True"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
    </form>
    <p>New User? <a class="btn btn-secondary btn-sm" href="{{ url_for('auth.register') }}" role="button">Register</a></p>
</div>
</main>
{% endblock %}