{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shootout.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/easymde.min.css') }}">
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/shootout.js') }}"></script>
<script src="{{ url_for('static', filename='js/easymde.min.js') }}"></script>
<script>var easyMDE = new EasyMDE({element: document.getElementById('my-text-area')});</script>
{% endblock %}

{% block title %}
BeatCops - Edit
{% endblock %}

{% from 'macros.html' import render_field %}

{% block content %}
<div class="container">
    <div class="row py-3 justify-content-center">
        <h2>BeatCops - Form fillable Character Sheet</h2>
    </div>
    <form action="{{ url_for( 'beatcops.edit' , id=id) }}" method="post">
    <div class="row justify-content-center mb-3">
        <div class="col-md-3"><input class="btn btn-primary btn-block" type="submit" name="submit" value="Save"></div>
        <div class="col-md-3"><a class="btn btn-secondary btn-block" href="{{ url_for( 'beatcops.weapons' , id=id) }}" role="button">Add Weapons</a></div>
        <div class="col-md-3"><a class="btn btn-danger btn-block" href="{{ url_for( 'beatcops.delete' , id=id) }}" role="button">Delete</a></div>
    </div>
    <div class="row py-3 justify-content-center border">
        <label class="col-sm-2 col-form-label font-weight-bold">Name</label>
        <div class="col-sm-10"><input class="form-control" type="text" name="name" value="{{ sheet.name.data }}" required></div>
    </div>
    <div class="row py-3 justify-content-center border">
        <label class="col-sm-2 col-form-label font-weight-bold">Class</label>
        <div class="col-sm-10">
            <select class="selectpicker form-control" aria-label="Default select example" name="character_class">
                {% for cls in config.classes %}
                <option value="{{cls}}" {% if cls == sheet.character_class.data %} selected {% endif %}>{{cls}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row py-3 justify-content-center border">
        <label class="col-sm-2 col-form-label font-weight-bold">Background</label>
        <div class="col-sm-10">
            <select class="selectpicker form-control" aria-label="Default select example" name="background">
                {% for bck in config.backgrounds %}
                <option value="{{bck}}" {% if bck == sheet.background.data %} selected {% endif %}>{{bck}}</option>
                {% endfor %}
            </select>
        </div>
    </div> 
    <hr>
    <div class="row">
        <!-- First row first column --> 
        <div class="col-md-4">
            <div class="row" id="r-att"><div class="col-md-12">
            <div class="card mb-3" id="cd-att"><div class="card-header">Attributes</div>
                <div class="table-responsive">
                <table class="card-table table">
                <tbody>
                    {% for attr in config.attributes %}
                        {{ render_field(sheet[attr]) }}
                    {% endfor %}
                </tbody>
                </table>
                </div>
            </div>
            </div></div>
            <div class="row" id="r-ski"><div class="col-md-12">
                <div class="card mb-3"><div class="card-header">Skills</div>  
                <!-- table resposinve needs to be outside of card body for this to work (fills card) --> 
                <div class="table-responsive">
                <table class="card-table table">
                    <tbody>
                    {% for skill in config.skills %}
                        {{ render_field(sheet[skill]) }}
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
            </div></div>
        </div>
        <!-- First row Second column --> 
        <div class="col-md-8">
            <div class="row" id="r-stat"><div class="col-md-12">
                    <div class="card mb-3"><div class="card-header">Current Stats</div>
                    <div class="table-responsive">
                    <table class="card-table table">
                    <tbody>
                    <tr>
                        <td>Level</td><td><input class="form-control" type="text" name="level" value={{ sheet.level.data }} required></td>
                        <td>Armour Class</td><td><input class="form-control" type="text" name="ac" value={{ sheet.ac.data }} required></td>
                    </tr>
                    <tr>
                        <td>XP</td><td><input class="form-control" type="text" name="xp" value={{ sheet.xp.data }} required></td>
                        <td>System Strain</td><td><input class="form-control" type="text" name="system_strain" value={{ sheet.system_strain.data }} required></td>
                    </tr>
                    <tr>
                        <td>Attack Bonus</td><td>{{ sheet.attack_bonus }}</td>
                        <td>Mental Save</td><td>{{ sheet.mental_save }}</td></tr>
                    <tr>
                        <td>Max Hit Points</td><td><input class="form-control" type="text" name = "max_hp" value={{ sheet.max_hp.data }} required></td>
                        <td>Evasion Save</td><td>{{ sheet.evasion_save }}</td>
                    </tr>
                    <tr>
                        <td>Current Hit Points</td><td><input class="form-control" type="text" name ="current_hp" value={{ sheet.current_hp.data }} required></td>
                        <td>Physical Save</td><td>{{ sheet.physical_save }}</td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>
            </div></div>
            <!-- Weapons (Secpnd row second column) (includes weapons as duplicate code) -->
            {% set checkbox = true %}         
            {% include 'beatcops/_weapons_sheet.html'%}
            <!-- Additional Notes (third row row second column) (includes weapons as duplicate code) -->          
            <div class="row"><div class="col-md-12">
                <div class="card mb-3"><div class="card-header">Additional Notes - Supports Markdown</div>
                    <textarea id="my-text-area" name="notes">{{ sheet.notes.data | safe }}</textarea>
                </div>
            </div></div>  
            </form>
        </div>
    </div>
</div>
{% endblock %}