{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}

{% block content %}
{% from 'macros.html' import create_pagination, create_header %}
<div class="container">
    {% if current_user.is_authenticated and current_user.check_roles("Admin") %}
    <div class="row justify-content-center my-3">
        <div class="col-md-3"><a class="btn btn-success btn-block" href="{{ url_for('blog.admin') }}" role="button">Admin</a></div>
        <div class="col-md-3"><a class="btn btn-info btn-block" href="{{ url_for('blog.create') }}" role="button">Create</a></div>
    </div>
    <hr>
    {% endif %}
    {% for entry in entries.items %}
        {{ create_header(entry) }}
        <hr>
    {% endfor %}
    {% from 'macros.html' import create_pagination %}
    <div class = "row justify-content-center">
        {{ create_pagination('blog.home', entries) }}
    </div>
</div>
{% endblock %}