{% extends "base.html" %}

{% block title %}{{ entry.slug }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/a11y-dark.min.css">
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/languages/q.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}


{% block content %}
<div class="container">
    {% from 'macros.html' import create_header %}
    {{ create_header( entry ) }}
    <hr>
    <div class = "row">
        <div class="col-md-12">
        {{ entry.content | safe}}
        </div>
    </div>
    <hr>
</div>
{% endblock %}