{% extends "base.html" %}

{% block title %} Preview Post {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/a11y-dark.min.css">
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/languages/q.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}
<div class="container">
    {% from 'macros.html' import create_header %}
    {{ create_header( entry, slug=False) }}
    <hr>
    <div class = "row">
        <div class="col-md-12">
        {{ entry.content | safe}}
        </div>
    </div>
    <hr>
    <div class="row justify-content-center mb-3">
        <div class="col-md-5">
            <a class="btn btn-secondary btn-block" href="{{ url_for( 'blog.edit' , id=entry.id) }}" role="button">Edit</a>
        </div>
        <div class="col-md-5">
            <form class="publish" action="{{ url_for( 'blog.publish' , id=entry.id) }}" method="post">
            {% if entry.published %}
            <button class="btn btn-danger btn-block" name="publish" value="False">Unpublish</button>
            {% else %} 
            <button class="btn btn-success btn-block" name="publish" value="True">Publish</button>
            {% endif %} 
            </form>
        </div>
    </div>
</div>
{% endblock %}
