/***** Wrapper *****/

button.hamburger.open-menu {
    color: #111111;
    box-sizing: border-box;
    padding: 0.6em;
    font-size: 1em;
    border: none;
    overflow: hidden;
    background: transparent;
    cursor: pointer;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger.open-menu {
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger.line.open-menu {
    display: block;
    position: absolute;
    width: 2.0625rem;
    height: 0.25rem;
    margin-bottom: 0.375rem;
    position: relative;
    background: #ffffff;
    transform-origin: 0.25rem 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease;
}

.hamburger.line.open-menu:first-child {
    transform-origin: 0% 0%;
}

.hamburger.line.open-menu:nth-child(2) {
    transform-origin: 0% 100%;
}

.hamburger.line.open-menu:last-of-type {
    margin: 0;
}

.hamburger.line.open-menu.open:first-child {
    opacity: 1;
    transform: rotate(45deg) translate(0.125rem, -0.125rem);
}


.hamburger.line.open-menu.open:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger.line.open-menu.open:last-of-type {
    transform: rotate(-45deg) translate(-0.0625rem, -0.0625rem);
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

/***** Sidebar *****/

.sidebar {
	width: 250px; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: -255px; 
    z-index: 999; 
	background: #333; 
    color: #fff; 
    transition: all .3s; 
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
	text-align: left;
}

.sidebar.active { 
    left: 0; 
}

.dismiss {
	width: 35px; 
    height: 35px; 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    transition: all .3s; 
	background: #444; 
    border-radius: 4px; 
    text-align: center; 
    line-height: 35px; 
    cursor: pointer;
}

/*
.nav-link[data-toggle].collapsed:after {
    content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: " ▴";
}
*/

.dismiss:hover, .dismiss:focus { background: #555; color: #fff; }

.sidebar .sidebar-header { 
    padding: 40px 20px; 
    border-bottom: 1px solid #fff; 
    transition: all .3s; 
}

.sidebar .logo a {
	display: inline-block;
	width: 172px;
	height: 34px;
	background: url(../img/logo.png) left top no-repeat;
	border: 0;
	text-indent: -999999px;
}

.sidebar ul.menu-elements { 
    padding: 10px 0; 
    border-bottom: 1px solid #444; 
    transition: all .3s; 
}

.sidebar ul li a {
	display: block; 
    padding: 10px 20px;
	border: 0; color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus { outline: 0; background: #555; color: #fff; }

.sidebar ul li a i { margin-right: 5px; }

.sidebar ul li.active > a, a[aria-expanded="true"] {
	background: #444;
	color: #fff;
}

.sidebar ul ul a { background: #444; padding-left: 30px; font-size: 14px; }

.sidebar ul ul li.active > a { background: #555; }

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top { 
    padding: 20px; 
    text-align: center; 
}

.sidebar .dark-light-buttons { padding: 10px 20px 30px 20px; text-align: center; }


.open-menu.btn-customized,
.open-menu.btn-customized:hover, 
.open-menu.btn-customized:active, 
.open-menu.btn-customized:focus, 
.open-menu.btn-customized:active:focus, 
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

.rpg-card-col {
    min-width: 380px;
}
