.green {
    color: #67ad3e;
}

.rpghome {
    width: 1200px;
}

.sheet-block {
    margin:0px 50px 0px 50px;
    width:1047px;
}

.sheet-block .header {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0;
    padding-left: 10px;
    width: 1041px;
    border-bottom: 1px solid #6b6b6b;
}

.sheet {
    padding-bottom: 4px;
    border-bottom: 1px solid #6b6b6b;
}

.sheet-block .header  .stat{
    float:left;
    font-weight: 700;
}

.header .name {
    width:300px;
}

.header .class {
    width:166px;
}

.header .background {
    width:166px;
}

.header .level {
    width:31px;
    margin-right:35px;
}

.header .hp {
    width:20px;
    margin-right:60px;
}

.header .User {
    width:20px;
    margin-right:35px;
}

.block {
    height:46px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.wrap {
    vertical-align:top;
    float:left;
    display: flex;
    justify-content: center;
    height:100%;
}

.sheet-stats {
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
    padding-left: 10px;
    border: 2px solid transparent;
}

.sheet-stats:hover {
    border-radius: 5px;
    border: 2px solid rgb(0, 110, 255);
    box-shadow: rgba(0, 110, 255, 0.25) 0px 13px 27px -5px, rgba(0, 110, 255, 0.3) 0px 8px 16px -8px;
    transition: background .15s ease-in-out!important;
}

.sheet-show {
    display:block;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.sheet-show:hover {
    color: inherit;
}

.sheet-stat {
    display: inline-block;
    text-align: left;
    font-weight: 600;
    margin: auto;
}

.user-sheets .sheet.buttons {
    float:right;
}

.sheet-stat.name {
    width:300px;
}

.sheet-stat.class {
    min-width:166px;
    width:166px;
}
.sheet-stat.background {
    width:166px;
}

.sheet-stat.level {
    width:9px;
    margin-right: 57px;
}

.sheet-stat.hp {
    width:70px;
    margin-right: 10px;
}

.sheet-stat.user {
    width:239px;
    margin-right: 10px;
}

.sheet-stat.button {
    width:100px;
    position:relative;
    margin-right: 35px;
    height:100%;
}

.sheet-stat.button.last {
    margin-right: 10px;
}

#cb-weap,#cb-note {
    overflow-y: auto;
  }

.card {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

.card-header {
    background-color: #4285F4;
    font-weight: bold;
    color: white;
    display: inline-flex;
    align-items: center;
}

td {
    font-weight: bold;
    text-align: left;
    vertical-align: middle !important;
}

.wide {
    width: 42%;
}

.field-modifier {
    background-color:#383838;
    color: white;
    border-radius: 10px;
    width: 40px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#attack_bonus {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}