<div class="row">
    {% if player_sheets|length < 1 %}
    <div class = "row">
        <div class="col-md-12">
            <p>There are no other characters sheets saved within the universe.</p>
        </div>
    </div>
    {% else %}
    <div class="row py-3 justify-content-center">
        <h2>Sheriffs and Shootout Player Sheets</h2>
    </div>
    {% for player_sheet in player_sheets %}
        {% if loop.index0 % 4 == 0 %}
        <div class="row justify-content-center">
        {% endif %}
        <div class="col-md-3">
            <p>{{ loop.index0 }} </p>
            <div class="card mb-3">
                <div class="card-header">{{ player_sheet.name }}</div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="card-table table">
                    <tbody>
                        <tr><td>User</td><td>{{ player_sheet.author.username }}</td></tr>
                        <tr><td>Class</td><td>{{ player_sheet.character_class }}</td></tr>
                        <tr><td>Background</td><td>{{ player_sheet.background }}</td></tr>
                        <tr><td>Level</td><td>{{ player_sheet.level }}</td></tr>
                    </tbody>
                    </table>
                    <a href="/shootout/sheet/{{ player_sheet.id }}" class="btn btn-primary">Show Sheet</a>
                </div>
                </div>
            </div>
        </div>
        {% if loop.index is divisibleby 4 or loop.last %}
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}
</div>