{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="py-5 text-center">
        <h2>Sheriffs & Shootouts - Form fillable Character Sheet</h2>
    </div>
    <form action="/shootout/sheet/{{ sheet.id }}" method="post">
    <div class="mx-auto">
        <div class="col-sm-2 my-1">
        <input class="btn btn-primary" type="submit" name="submit" value="save">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div><h6 class="my-0">Name</h6></div><input type="text" name="name" value="{{ sheet.name }}"></li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div><h6 class="my-0">Class</h6></div><input type="text" name="character_class" value="{{ sheet.character_class }}"></li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div><h6 class="my-0">Background</h6></div><input type="text" name="background" value="{{ sheet.background }}"></li>
            </ul>
        </div>
    </div>
    <!-- Tabs for Character Stats -->
    <div class="row">
        <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#CStats">Current Stats</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#AStats">Attributes</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#SStats">Skills</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#WStats">Weapons</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Items">Items</a></li>
        </ul>  
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active" id="CStats">
                <table class="table table-hover">
                    <thead><tr><th scope="col">Attribute</th><th scope="col">Level</th></tr></thead>
                    <tbody>
                        <tr><td>Level</td><td><input type="text" name="level" value={{ sheet.level }}></td></tr>
                        <tr><td>XP</td><td><input type="text" name="xp" value={{ sheet.xp }}></td></tr>
                        <tr><td>Max Hit Points</td><td><input type="text" name = "max_hp" value={{ sheet.max_hp }}></td></tr>
                        <tr><td>Current Hit Points</td><td><input type="text" name ="current_hp" value={{ sheet.current_hp }}></td></tr>
                        <tr><td>Attack Bonus</td><td>{{ sheet.attack_bonus }}</td></tr>
                        <tr><td>System Strain</td><td><input type="text" name="system_strain" value={{ sheet.system_strain }}></td></tr>
                        <tr><td>Armour Class 1</td><td><input type="text" name="ac1" value={{ sheet.ac1 }}></td></tr>
                        <tr><td>Armour Class 2</td><td><input type="text" name="ac2" value={{ sheet.ac2 }}></td></tr>
                        <tr><td>Mental Save</td><td>{{ sheet.mental_save }}</td></tr>
                        <tr><td>Evasion Save</td><td>{{ sheet.evasion_save }}</td></tr>
                        <tr><td>Physical Save</td><td>{{ sheet.physical_save }}</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane container fade" id="AStats">
                <table class="table table-hover">
                    <thead><tr><th scope="col">Attribute</th><th scope="col">Level</th><th scope="col">Modifier</th></tr></thead>
                    <tbody>
                        <tr><td>Strength</td><td><input type="text" name="strength" value={{ sheet.strength }}></td><td>{{ sheet.str_mod }}</td></tr>
                        <tr><td>Dexterity</td><td><input type="text" name="dexterity" value={{ sheet.dexterity }}></td><td>{{ sheet.dex_mod }}</td></tr>
                        <tr><td>Constitution</td><td><input type="text" name="constitution" value={{ sheet.constitution }}></td><td>{{ sheet.con_mod }}</td></tr>
                        <tr><td>Intelligence</td><td><input type="text" name="intelligence" value={{ sheet.intelligence }}></td><td>{{ sheet.int_mod }}</td></tr>
                        <tr><td>Wisdom</td><td><input type="text" name="wisdom" value={{ sheet.wisdom }}></td><td>{{ sheet.wis_mod }}</td></tr>
                        <tr><td>Charisma</td><td><input type="text" name="charisma" value={{ sheet.charisma }}></td><td>{{ sheet.chr_mod }}</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane container fade" id="SStats">
                <table class="table table-hover">
                    <thead><tr><th scope="col">Attribute</th><th scope="col">Level</th></tr></thead>
                    <tbody>
                        <tr><td>Administer</td><td><input type="text" name="administer" value={{ sheet.administer }}></td></tr>
                        <tr><td>Cast Magic</td><td><input type="text" name="cast_magic" value={{ sheet.cast_magic }}></td></tr>
                        <tr><td>Connect</td><td><input type="text" name="connect" value={{ sheet.connect }}></td></tr>
                        <tr><td>Exert</td><td><input type="text" name="exert" value={{ sheet.exert }}></td></tr>
                        <tr><td>Fix</td><td><input type="text" name="fix" value={{ sheet.fix }}></td></tr>
                        <tr><td>Heal</td><td><input type="text" name="heal" value={{ sheet.heal }}></td></tr>
                        <tr><td>Horsemanship</td><td><input type="text" name="horsemanship" value={{ sheet.horsemanship }}></td></tr>
                        <tr><td>Know</td><td><input type="text" name="know" value={{ sheet.know }}></td></tr>
                        <tr><td>Know Magic</td><td><input type="text" name="know_magic" value={{ sheet.know_magic }}></td></tr>
                        <tr><td>Lead</td><td><input type="text" name="lead" value={{ sheet.lead }}></td></tr>
                        <tr><td>Notice</td><td><input type="text" name="notice" value={{ sheet.notice }}></td></tr>
                        <tr><td>Perform</td><td><input type="text" name="perform" value={{ sheet.perform }}></td></tr>
                        <tr><td>Punch</td><td><input type="text" name="punch" value={{ sheet.punch }}></td></tr>
                        <tr><td>Sail</td><td><input type="text" name="sail" value={{ sheet.sail }}></td></tr>
                        <tr><td>Shoot</td><td><input type="text" name="shoot" value={{ sheet.shoot }}></td></tr>
                        <tr><td>Sneak</td><td><input type="text" name="sneak" value={{ sheet.sneak }}></td></tr>
                        <tr><td>Stab</td><td><input type="text" name="stab" value={{ sheet.stab }}></td></tr>
                        <tr><td>Talk</td><td><input type="text" name="talk" value={{ sheet.talk }}></td></tr>
                        <tr><td>Trade</td><td><input type="text" name="trade" value={{ sheet.trade }}></td></tr>
                        <tr><td>Work</td><td><input type="text" name="work" value={{ sheet.work }}></td></tr>
                    </tbody>
                </table>
            </table>                
            </div>
            </form>
            <div class="tab-pane container fade" id="WStats">
                <form action="/shootout/sheet/{{ sheet.id }}" method="post">
                {% if weapons |length < 1 %}
                    <p>There are no weapons attached</p>
                {% else %}
                <table class="table">
                <thead>
                    <tr>
                    <th>Weapon</th><th>Damage</th><th>Bonus</th><th>Range</th><th>Magazine</th><th>Attribute</th><th>Weight</th><th>Notes</th><th>Delete</th>
                    </tr>
                </thead>
                <tbody>                    
                {% for weapon in weapons %}
                    <tr>
                        <td>{{ weapon.name }}</td><td>{{ weapon.damage }}</td><td>{{ weapon.bonus }}</td>
                        <td>{{ weapon.weapon_range }}</td><td>{{ weapon.mag }}</td><td>{{ weapon.attribute }}</td>
                        <td>{{ weapon.weight }}</td><td>"{{ weapon.notes }}"</td>
                        <td><input type="checkbox" name="delete{{ weapon.id }}" value={{ weapon.id }}></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                {% endif %}
                <a class="btn btn-danger btn-sm" href="/shootout/weapons/sheet/{{ sheet.id }}" role="button">Add Weapons</a>
                <input class="btn btn-primary" type="submit" name="delete" value="delete">
            </form>
            </div>
            <div class="tab-pane container fade" id="Items">...</div>
        </div>
        </div>
    </div>
</div>
{% endblock %}