{% extends "base.html" %}

{% block title %}
Shootout - Weapons
{% endblock %}

{% block content %}
<div class="container">
    <div class="row py-3 justify-content-center">
        <h1 class="my-4">Sheriffs & Shootouts - Weapons</h1>
    </div>
    <div class="row justify-content-center">
    <form action="/shootout/weapons/sheet/{{ id }}" method="post">
    {% if weapons|length < 1 %}
        {% if add %}
            <p>There are no more weapons avaliable to add</p>
        {% else %}
            <p>There are no weapons found.</p>
        {% endif %}
    {% else %}
        <table class="table">
        <thead>
            <tr><th>Weapon</th>
                <th>Damage</th>
                <th>Bonus</th>
                <th>Range</th>
                <th>Magazine</th>
                <th>Attribute</th>
                <th>Weight</th>
                <th>Notes</th>
                {% if add %}<th>Add</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for weapon in weapons %}
        <tr>
                <td>{{ weapon.name }}</td>
                <td>{{ weapon.damage }}</td>
                <td>{{ weapon.bonus }}</td>
                <td>{{ weapon.weapon_range }}</td>
                <td>{{ weapon.mag }}</td>
                <td>{{ weapon.attribute }}</td>
                <td>{{ weapon.weight }}</td>
                <td>{{ weapon.notes }}</td>
                {% if add %}<td><input type="checkbox" name="add" value={{ weapon.id }}></td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% if add %}<input class="btn btn-primary" type="submit" name="add_weapons" value="submit">{% endif %}
    {% endif %}
    </form>
    </div>
</div>
{% endblock %}