{% extends "base.html" %}

{% block title %}
{{ bp_name }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rpgsheet.css') }}">
{% endblock %}

{% block extra_scripts %}
<script>var home = '{{ bp_route }}';</script>
<script src="{{ url_for('static', filename='js/rpghome.js') }}"></script>
{% endblock %}


{% block content %}
<div class="container-fluid rpghome">
    <div class="row py-3 justify-content-center">
        <h1 class="my-4">{{ bp_name }}</h1>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-3"><button class="btn btn-success btn-block" name="something" onclick="createNewSheet()">Create</button></div>
        <div class="col-md-3"><a class="btn btn-info btn-block" href="{{ url_for( bp_route+'.weapons') }}" role="button">Weapons</a></div>
    </div>
    <h1>Your Sheets</h1>
    <hr>
    <div class="row sheet-block">
        <header class="header">
            <div class="stat name">Name</div>
            <div class="stat class">Class</div>
            <div class="stat background">Background</div>
            <div class="stat level">level</div>
            <div class="stat hp">HP</div>
            <div class="stat edit"></div>
            <div class="stat delete"></div>
        </header>
        <div class="user-sheets">
        </div>
    </div>
    <hr>
    <h1>Player Sheets</h1>
    <hr>
    <div class="row sheet-block">
        <header class="header">
            <div class="stat name">Name</div>
            <div class="stat class">Class</div>
            <div class="stat background">Background</div>
            <div class="stat level">level</div>
            <div class="stat hp">HP</div>
            <div class="stat author">User</div>
        </header>
        <div class="player-sheets">
        </div>
    </div>
    <div class = "row justify-content-center" id="player-paginate"></div>
    <hr>
</div>
{% endblock %}
