<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a type="button" id="sidebarCollapse" class="btn btn-primary btn-customized open-menu">
            <i class="bi bi-list"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColl" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColl">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item align-left"><a class="nav-link text-nowrap" href="{{ url_for('main.index') }}">InsertLeft</a></li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item align-left"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                <li class="nav-item align-left"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>