{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}

{% block content %}
{% from 'macros.html' import create_pagination, create_header %}
<div class="container pt-3">
<h1>This is InsertLeft.</h1>
<p>InsertLeft is built using the Python-Flask framework and is a place where you may find posts about general things I find interesting such as topics about python, q/kdb+, data analytics and even League of Legends.</p>
<p>This blog was created by Ryan McFarland. You can contact me via links located on the top-right of the banner.</p>
</div>
<div class="container">
    <hr>
    {% for entry in entries.items %}
        {{ create_header(entry) }}
        <hr>
    {% endfor %}
    {% from 'macros.html' import create_pagination %}
    <div class = "row justify-content-center">
        {{ create_pagination('main.home', entries) }}
    </div>
</div>
{% endblock %}
