{# macro template to load in jinja2 functions
    create_pagination
        @endpoint - what function to redirect
        @entries - sqlalcehmy object to include to loop over

    create_hender
        @entry - sqlalcehmy blog post entry
#}

{% macro create_pagination(endpoint, entries) -%}
<nav aria-label="...">
    <ul class="pagination">
        {% if not entries.prev_num %}
        <li class="page-item disabled">
            <span class="page-link">Previous</span></li>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for( endpoint , page=entries.prev_num) }}">Previous</a>
        </li>
        {% endif %}
        {% for page_num in entries.iter_pages(left_edge=0, right_edge=0, left_current=2, right_current=3) %}
            {% if page_num == entries.page %}
                <li class="page-item active">
                <span class="page-link">{{ page_num }}<span class="sr-only">(current)</span></span>
                </li>
            {% elif not page_num %}
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for( endpoint , page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% if not entries.next_num %}
        <li class="page-item disabled">
            <span class="page-link">Next</span></li>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for( endpoint , page=entries.next_num) }}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{%- endmacro %}

{% macro create_header(entry, slug=True) -%}
<div class = "row py-3">
    <div class="col-md-12">
        {% if slug %}
        <h1 class="article-header"><a class="text-dark text-decoration-none" href="{{ url_for( 'main.blog' , year=entry.created_at.strftime('%Y'), month=entry.created_at.strftime('%m'), day=entry.created_at.strftime('%d'), slug=entry.slug ) }}">{{ entry.title }}</a></h1>
        {% else %}
        <h1>{{ entry.title }}</h1>
        {% endif %}
    </div>  
</div>
<div class = "row">
    <div class="col-md-12">
    <p class="has-background has-primary-background-color">{{ entry.caption }}</p>
    </div>
</div>
<span>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/></svg>
    <small class="text-muted px-2">{{ entry.created_at.strftime('%Y-%m-%d') }}</small>
</span>
<span>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      </svg>
    <small class="text-muted">{{ entry.author.username }}</small>
</span>
{%- endmacro %}

{% macro render_field(field, min, max, modifier=False, display=None) -%}
    <td class="field-name">
        {% if display %}
            {{ display }}
        {% else %}
            {{ field.id.capitalize() }}
        {% endif %}
    </td>
    <td>
        {% if field.errors %}
        <div class="input-group">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="{{ field.id }}"><span class="bi bi-dash-lg"></span></button>
            </div>
            <input class="form-control is-invalid has-feedback input-number shadow-none" type="text" name="{{ field.id }}" class="text-right" value={{ field.raw_data[0] }} min="{{ min }}" max="{{ max }}" required>
            <div class="input-group-append">
                <button type="button"  class="btn btn-outline-secondary btn-number" data-type="plus" data-field="{{ field.id }}"><span class="bi bi-plus-lg"></span></button>
            </div>
            <span id="glypcn{{ field.id.capitalize() }}" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div id="feedback{{ field.id.capitalize() }}" class="invalid-feedback">{{ field.errors[0] }}</div>
        </div>
        {% else %}
        <div class="input-group">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="{{ field.id }}"><span class="bi bi-dash-lg"></span></button>
            </div>
            <input type="text" name="{{ field.id }}" class="form-control input-number shadow-none" value="{{ field.data }}" min="{{ min }}" max="{{ max }}" required>
            <div class="input-group-append">
                <button type="button"  class="btn btn-outline-secondary btn-number" data-type="plus" data-field="{{ field.id }}"><span class="bi bi-plus-lg"></span></button>
            </div>
        </div>
        {% endif %}
    </td>
    {% if modifier %}
    <td>
        <div class="field-modifier" name="modifier-{{ field.id }}">
        </div>
    </td>
    {% endif %}
{%- endmacro %}

{% macro render_field_no_button(field, modifier=False, display=None) -%}
    <td class="field-name">
        {% if display %}
            {{ display }}
        {% else %}
            {{ field.id.capitalize() }}
        {% endif %}
    </td>
    <td>
        {% if field.errors %}
        <input class="form-control is-invalid has-feedback input-number shadow-none" type="text" name="{{ field.id }}" class="text-right" value={{ field.raw_data[0] }} required>
        <span id="glypcn{{ field.id.capitalize() }}" class="glyphicon glyphicon-remove form-control-feedback"></span>
        <div id="feedback{{ field.id.capitalize() }}" class="invalid-feedback">{{ field.errors[0] }}</div>
        {% else %}
        <input type="text" name="{{ field.id }}" class="form-control input-number shadow-none" value="{{ field.data }}" required>
        {% endif %}
    </td>
    {% if modifier %}
    <td>
        <div class="field-modifier" name="modifier-{{ field.id }}">
        </div>
    </td>
    {% endif %}
{%- endmacro %}

{% macro show_field(field, display, modifier=False,  cap=False) -%}
    <td class="field-name">
    {% if cap %}
        {{ display }}
    {% else %}
        {{ display.capitalize() }}
    {% endif %}
    </td>
    <td name="{{ display }}">
        <input type="text" name="{{ display }}" class="form-control input-number shadow-none" value="{{ field }}" disabled>
    </td>
    {% if modifier %}
    <td>
        <div class="field-modifier" name="modifier-{{ display }}">
        </div>
    </td>
    {% endif %}
{%- endmacro %}