{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4">Sheriffs & Shootouts - Weapons</h1>
    <form action="/shootout/weapons/sheet/{{ id }}" method="post">
    {% if weapons|length < 1 %}
        <p>There are no weapons avaliable to add</p>
    {% else %}
        <table class="table">
        <thead>
            <tr><th>Weapon</th><th>Damage</th><th>Bonus</th><th>Range</th><th>Magazine</th><th>Attribute</th><th>Weight</th><th>Notes</th><th>Add</th></tr>
        </thead>
        <tbody>
        {% for weapon in weapons %}
        <tr>
                <td>{{ weapon.name }}</td><td>{{ weapon.damage }}</td><td>{{ weapon.bonus }}</td>
                <td>{{ weapon.weapon_range }}</td><td>{{ weapon.mag }}</td><td>{{ weapon.attribute }}</td>
                <td>{{ weapon.weight }}</td><td>{{ weapon.notes }}</td>
                <td><input type="checkbox" name="add" value={{ weapon.id }}></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <input class="btn btn-primary" type="submit" name="add_weapons" value="submit">
    {% endif %}
{% endblock %}